#conocenos {
  /* background-color: rgb(10, 12, 12); */
  /* background-color: #121212; */
}
#conocenos h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #5bc0be;
  font-weight: bolder;
}
#conocenos p {
  color: #728083;
}
#conocenos .phrase {
  color: #2693a1;
}
#img-conocenos {
  object-fit: contain;
  width: 100%;
  filter: drop-shadow(1px 1px 3px rgb(133, 209, 167));
}
@media (max-width: 1399px) {
  #img-conocenos {
    object-fit: contain;
    max-height: 400px;
  }
}
