#about {
  position: relative;
  background-image: url("../img/hero/fondo.webp");
  background-size: cover;
  background-position: center;
  z-index: 1000;
}
#about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(225, 224, 221, 0.915);
  z-index: 1;
}
#about > .container {
  position: relative;
  z-index: 2;
}
#about .phrase {
  color: #2693a1;
}
#img-about {
  object-fit: contain;
  width: 100%;
  filter: drop-shadow(1px 1px 3px rgb(133, 209, 167));
}
@media (max-width: 1399px) {
  #img-about {
    object-fit: contain;
    max-height: 400px;
  }
}
