#contact {
  /* background-color: #ADE0DF; */
}
#contact h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #5bc0be;
  font-weight: bolder;
}

#contact .card {
  color: #728083;
}
#contact .card a {
  color: #728083;
}
#contact .card h5 {
  font-weight: 100;
  color: #0B132B;
}
#contact .card img {
  height: 60px;
}
.form-contact {
  background-color: #D1EBEA;
}
.form-contact label {
  color: #ffff;
}
.papa-cards {
  padding-top: 2.7rem;
}
/* .img-first{
  max-width: 50%;
} */
/* @media (min-width: 992px) {
.box-big{
  display: flex;
  flex-direction: column;
}
} */

@media (max-width: 430px) {
  #contact .card img {
    height: 40px;
  }
  #contact .card {
    max-width: 180px;
  }
  .papa-cards {
    padding-top: 0rem;
  }
}
