#contact {
  background-color: #e4e2df;
}
#contact .card {
  color: #ade0df;
  background-color: #212529;
}
#contact .card-body p,
a {
  color: #ade0df;
}

#contact .card h5 {
  font-weight: 100;
  color: whitesmoke;
}
#contact .card img {
  height: 60px;
}
.form-contact {
  background-color: #d1ebea;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.541) !important;
}
.form-contact label {
  color: #ffff;
}
.form-control:focus {
  border-color: black; /* morado de Bootstrap (puedes cambiarlo) */
}

@media (max-width: 430px) {
  #contact .card img {
    height: 40px;
  }
  #contact .card {
    max-width: 180px;
  }
  #contact .card-body {
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}
