#donation{

}
#donation p{
    color: #a7b7bb;
}

#donation .random-Phrase{
    font-style: italic;
    color: #FFFFFF;
}
#donation .container h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#5BC0BE;
    font-weight: bolder;
}
#donation .img-huellas{
    display: flex;
    height: 150px;
}
#donation .card-body img{
    max-width: 30%;
  /* height: auto; */
}

#donation .card-body:hover{
    background-color: #c3d4e6;
}
