#estadisticas .c1{
    max-width: 50rem;
}
 #estadisticas h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5bc0be;
    font-weight: bolder;
}
 #estadisticas .text-black{
    color: #0B132B;
 }
.img-estadistica {
  height: 70px;
  width: auto;
}
 #estadisticas p{
    color: #728083;
}
