/* estilos del footer */
.img-footer{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.img-footer:hover {
    box-shadow: 0 0 5px 3px #a7e7e6;
    transform: scale(1.05);
}

footer{
  color: #0b132b;
}
footer a{
  color: #0b132b;
}