#gallery .card {
  border: none;
}
#gallery .img {
  height: 300px;
  object-fit: cover;
}
#gallery .container .card-body .card-title.cat::before,
#gallery .container .card-body .card-title.dog::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
/*agregando el icono de gato y perro antes del nombre en cada card*/
#gallery .container .card-body .card-title.cat::before {
  background-image: url(/img/gallery/icon-cat.svg);
}

#gallery .container .card-body .card-title.dog::before {
  background-image: url(/img/gallery/icon-dog.svg);
}

/* contenedor de cartas ocultas */
.collapse-cards {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  opacity: 0;
}

.collapse-cards.show {
  max-height: 3000px; /* aumenta este valor hasta que se vea la última tarjeta completa */
  opacity: 1;
}
#gallery .btn {
  background-color: #24bd76;
  color: whitesmoke;
}
#gallery .btn:hover {
  background-color: #5bc0be;
}
@media (max-width: 400px) {
  #gallery .img {
    height: 140px;
    object-fit: cover;
  }
}
