/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-size: 62.5%;
} */
 #conocenos,
#gallery,
#donacion,
#contacto {
  scroll-margin-top: 80px; /* Ajusta según el alto de tu navbar */
}

body{
  background-color: #ffff;
}