/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-size: 62.5%;
} */
#conocenos,
#gallery,
#donation,
#contact {
  scroll-margin-top: 80px; /* Ajusta según el alto de tu navbar */
}
html,
body {
  overflow-x: hidden;
  background-color: #e4e2df;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Franklin Gothic Medium", "Open Sans", Arial, sans-serif !important;
  overflow-y: scroll;
}
/* estilos para svgs que decoran(secciones: estadisticas y contacto) */
#img-decoracion-svg {
  max-width: 600px;
  width: 100%;
  height: auto;
}

h2 {
  color: #da8367;
}
p {
  color: #728083;
}
/* 
tamaño de fuente para resoluciones mayores a 1200px y se le aplica a los p que tenga la clase .tamaño fuente */
@media (min-width: 1200px) {
  #conocenos,
  #estadisticas,
  #gallery,
  #donation,
  #contact .tamaño-fuente {
    font-size: 1.2rem;
  }
}
